* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
    background-color: #1a1a1d;
}

#nav {
    height: 10vh;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    border-bottom: 1px solid white;
    background-color: #1a1a1de7;
}

#nav-con {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    transition: 0.1s;
}

.nav-link:hover {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.39);
    transform: translate(2px, 2px);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#about {
    background-color: #1a1a1d;
    min-height: 90vh;
    padding: 1rem;
    width: 60vw;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

h1, .number, h2, .nav-link, #about-h1, a {
    font-family: 'Baloo Chettan 2';
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.39);
    text-decoration: none;
}

.about-p {
    font-family: 'Baloo Chettan 2';
    color: white;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.39);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#about-h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.ad {
    text-decoration: underline;
    transition: 0.1s;
}

.ad:hover {
    transform: translateX(2px);
}

button {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.39);
    color: white;
    background-color: #1a1a1d;
    border: 1px solid white;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.39);
    padding: 0 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.1s;
    padding: 0.5rem 1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
    width: 150px;
    margin: auto;
}

button:hover {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.39);
    transform: translate(2px, 2px);
    text-shadow: 0 0 0 black;
}

@media only screen and (max-width: 600px) {
    :root {
      font-size: 12px;
    }
  }